<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tg.book.dal.mapper.mbg.StoreMapper">
  <resultMap id="BaseResultMap" type="org.tg.book.dal.po.mbg.Store">
    <id column="storeId" jdbcType="INTEGER" property="storeid" />
    <result column="storeName" jdbcType="VARCHAR" property="storename" />
    <result column="storeAddress" jdbcType="VARCHAR" property="storeaddress" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where storeId = #{storeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.tg.book.dal.po.mbg.Store">
    insert into store (storeId, storeName, storeAddress
      )
    values (#{storeid,jdbcType=INTEGER}, #{storename,jdbcType=VARCHAR}, #{storeaddress,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.tg.book.dal.po.mbg.Store">
    update store
    set storeName = #{storename,jdbcType=VARCHAR},
      storeAddress = #{storeaddress,jdbcType=VARCHAR}
    where storeId = #{storeid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select storeId, storeName, storeAddress
    from store
    where storeId = #{storeid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select storeId, storeName, storeAddress
    from store
  </select>
</mapper>